.product{
    display: flex;
    border-bottom: 2px solid lightgrey;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: gold;
    border: 1px solid darkgray;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    cursor: pointer;

}